{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}armageddon_system{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'armageddon_system/css/web_system.css' %}">
        {% block header %}{% endblock %}
    </head>
    <body>
        <div id="menubar">
            {% block menubar %}
                <nav>
                    <div class="panel">
                        <ul>
                            <li><a href="#" onclick="window.history.back(); return false;">戻る</a></li>
                            <li><a href="/pay/log">精算記録</a></li>
                            <li><a href="/pay/item/list">精算項目</a></li>
                            <li><a href="/linebot/qa/list">LINEBOT/QA管理</a></li>
                            <li><a href="/linebot/msg/list">メッセージ管理</a></li>
                            <li><a href="/user/logout">ログアウト</a></li>
                        </ul>
                    </div>
                </nav>
            {% endblock %}
        </div>
        <hr>
        <div id="main-title">
            <h1>
                {% block main-title %}{% endblock %}
            </h1>
        </div>
        <hr>
        <div id="main-content">
            {% block main-content %}
            {% endblock %}
        </div>
    </body>
</html>