{% extends 'base.html' %}
{% block title %}精算記録{% endblock %}

{% block header %}
    <meta charset="UTF-8">
    <title>精算記録画面</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css"
          integrity="sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jsqr@1.1.1/dist/jsQR.min.js"
            integrity="sha384-i4Tuh5Z0ns/3M0289mSougur8irvedWPBlwOcJ7ob5AK/rvN5tjkwzu7P1k1dThG"
            crossorigin="anonymous"></script>
{% endblock %}
{% block main-title %}
    精算記録
{% endblock %}
{% block main-content %}
    <p class="school">学校名
        <select name="school" id="school">
            <option value="num1">麻生情報ビジネス</option>
            <option value="num2">麻生公務員</option>
            <option value="num3">麻生製菓</option>
            <option value="num4">麻生外国語</option>
        </select></p>

    <div class="system">
        絞り込み：<input name="year" type="text" class="js-changeYear" value="2019"> 年

        <select name="month" class="js-changeMonth">
            {% with ''|center:12 as range %}
                {% for _ in range %}
                    <option value={{ forloop.counter }}>{{ forloop.counter }}</option>
                {% endfor %}
            {% endwith %}

        </select> 月

        <select name="date" class="js-changeDay">
            {% with ''|center:31 as range %}
                {% for _ in range %}
                    <option value={{ forloop.counter }}>{{ forloop.counter }}</option>
                {% endfor %}
            {% endwith %}
        </select> 日
        ~
        <input name="year" type="text" class="js-changeYear"> 年

        {# TODO： ファイル名#}
        <button>
            {#            <a id="downloadCsvBtn" href="" download="test.csv" onclick="handleDownload()"#}
            {#               style="color: black">CSV出力</a>#}
            <a id="downloadCsvBtn" href="" download="test.csv" onclick="handleDownload()"
               style="color: black">CSV出力</a>
        </button>
    </div>

    <div class="row">
        <div class="col-xs-12" style="width: 100%;">
            <div class="table-responsive">
                <table border="1" id="pay_log_table" class="table table-bordered table-hover"
                       style="table-layout: auto">
                    <thead align="center">
                    <tr id="object">
                        <th>日付</th>
                        <th>学校名</th>
                        <th>学科</th>
                        <th>学籍番号</th>
                        <th>申請書名</th>
                        <th>枚数</th>
                        <th>金額</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for pay_log in pay_logs %}
                        {% for forms in pay_log.form_list %}
                            <tr>
                                <td align="right">{{ pay_log.time_stamp|date:"Y/m/d" }}</td>
                                <td>{{ pay_log.school_name }}</td>
                                <td>{{ pay_log.course_name }}</td>
                                <td align="right">{{ pay_log.student_id }}</td>
                                <td>{{ forms.form.form_name }}</td>
                                <td align="right">{{ forms.quantity }}</td>
                                <td align="right">{{ forms.subtotal }}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td id="total" colspan="1" align="center">合計</td>
                        <td align="right">{{ total }}</td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <script>

        const total = 0;

        window.onload = function getDate() {
            let yyyy, mm, dd, today;
            today = new Date();
            yyyy = today.getFullYear();
            mm = today.getMonth() + 1;
            dd = today.getDate();

            //年
            $Year = "<select>";
            for (let i = 2000; i <= 2030; i++) {
                if (i == yyyy) {
                    $Year += "<option value=\"" + i + "\" selected >" + i + "</option>";
                } else {
                    $Year += "<option value=\"" + i + "\" >" + i + "</option>";
                }
            }
            $Year += "</select>";
            document.getElementsByName("year").innerHTML = $Year + "年";

            //月
            $Month = "<select>";
            for (let i = 1; i <= 12; i++) {
                if (i == mm) {
                    $Month += "<option value=\"" + i + "\" selected >" + i + "</option>";
                } else {
                    $Month += "<option value=\"" + i + "\" >" + i + "</option>";
                }
            }
            $Month += "</select>";
            document.getElementsByName("month").innerHTML = $Month + "月";

            //日付
            $Day = "<select>";
            for (let i = 1; i <= 31; i++) {
                if (i == dd) {
                    $Day += "<option value=\"" + i + "\" selected >" + i + "</option>";
                } else {
                    $Day += "<option value=\"" + i + "\" >" + i + "</option>";
                }
            }
            $Day += "</select>";
            document.getElementsByName("day").innerHTML = $Day + "日";
        }

        function handleDownload() {
            let bom = new Uint8Array([0xEF, 0xBB, 0xBF]);//文字コードをBOM付きUTF-8に指定
            let table = document.getElementById('pay_log_table');//id=table1という要素を取得
            let data_csv = "";//ここに文字データとして値を格納していく

            for (let i = 0; i < table.rows.length; i++) {
                for (let j = 0; j < table.rows[i].cells.length; j++) {
                    data_csv += table.rows[i].cells[j].innerText;//HTML中の表のセル値をdata_csvに格納
                    if (j == table.rows[i].cells.length - 1) {
                        data_csv += "\n";
                    }//行終わりに改行コードを追加
                    else {
                        data_csv += ",";//セル値の区切り文字として,を追加
                    }
                }
            }
            let blob = new Blob([bom, data_csv], {"type": "text/csv"});//data_csvのデータをcsvとしてダウンロードする関数
            if (window.navigator.msSaveBlob) { //IEの場合の処理
                window.navigator.msSaveBlob(blob, "test.csv");
                //window.navigator.msSaveOrOpenBlob(blob, "test.csv");// msSaveOrOpenBlobの場合はファイルを保存せずに開ける
            } else {
                document.getElementById("downloadCsvBtn").href = window.URL.createObjectURL(blob);
            }
            delete data_csv;//data_csvオブジェクトいらないから消去してメモリ開放
        }

        (function ($) {
            function formSetDay() {
                let lastday = formSetLastDay($('.js-changeYear').val(), $('.js-changeMonth').val());
                let option = '';
                for (let i = 1; i <= lastday; i++) {
                    if (i === $('.js-changeDay').val()) {
                        option += '<option value="' + i + '" selected="selected">' + i + '</option>\n';
                    } else {
                        option += '<option value="' + i + '">' + i + '</option>\n';
                    }
                }
                $('.js-changeDay').html(option);
            }

            function formSetLastDay(year, month) {
                let lastday = new Array('', 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31);
                if ((year % 4 === 0 && year % 100 !== 0) || year % 400 === 0) {
                    lastday[2] = 29;
                }
                return lastday[month];
            }

            $('.js-changeYear, .js-changeMonth').change(function () {
                formSetDay();
            });
        })(jQuery);

    </script>

{% endblock %}