<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
デバッグ用ページ。<br>

<a href="debug/dynamo">Dynamo用</a><br>
<br>
各画面<br>
<a href="user/login">ログイン画面</a><br>
<a href="user/logout">ログアウト画面</a><br>
<a href="pay/item/list">精算項目一覧画面</a><br>
<a href="pay/item/qr">QRコード表示画面</a><br>
<a href="pay/log">精算記録画面</a><br>
<a href="menu/item">メニューバー</a><br>
<a href="linebot/qa/list">QA一覧画面</a><br>
<a href="linebot/msg/edit">メッセージ編集画面</a><br>
<a href="linebot/msg/list">メッセージ一覧画面</a><br>
<br>
<a href="register/form">LINE PAY 申請画面</a><br>
<a href="confirm?student_id=1&form_list=1&quantity=1">LINE PAY 認証画面</a><br>
<a href="register/linepay">LINE PAY 画面</a><br>


</body>
</html>