<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
TIME_STAMP  = <input type="text" value="{{ now }}"><br>
STUDENT_ID  = <input type="text" value="{{ now }}"><br>
SCHOOL_ID   = <input type="text" value="{{ now }}"><br>
SCHOOL_NAME = <input type="text" value="{{ now }}"><br>
COURSE_ID   = <input type="text" value="{{ now }}"><br>
COURSE_NAME = <input type="text" value="{{ now }}"><br>
FORM_LIST   = <input type="text" value="{{ now }}"><br>
TOTAL_FEE   = <input type="text" value="{{ now }}"><br>

</body>
</html>