<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TEST OF DYNAMO</title>
</head>
<body>
Dynamodb用Debugページ。<br>
command:{{ cmd }}
<br>
{{ pay_log }}

<br>
Pay log count:{{ pom_count }}
<br>
DELETE PAY LOG ->
<input type="button"
onclick="location.href='./dynamo?cmd=delete_pay_log&id={{ pom_count }}'"
value="削除">
<br>
ADD PAY LOG ->
<input type="button"
onclick="location.href='./dynamo?cmd=add_pay_log&id={{ pom_count| add:1 }}'"
value="追加">
<br>
<br>
↓↓pom_data(ALL)↓↓<br>
{{ pom_data }}
</body>
</html>