/*精算記録画面*/
    #downloadCsvBtn{
      position: relative;
        left: 960px;
        top: 40px;
    }
    table{
        position: relative;
        left: 50px;
        top: 70px;
    }

        * {
            -webkit-transition-property: all;
            -webkit-transition-duration: .2s;
          -moz-transition-timing-function: cubic-bezier(100,50,21,6);
            -moz-transition-property: all;
        }

    body{
      font-size: 20px;
      padding:75px;
      font-family: 'Oswald', sans-serif;
    }


    #school_name{
        position: relative;
        left: 220px;
    }
    #dates{
        position: relative;
        left: 220px;
    }

/*最終確認画面*/
        #comment{
              text-align: center;
              font-size: 30px;
              color: #808080;
              position: relative;
              top: 70px;
          }
        #items{
            text-align: center;
            position: relative;
            top: 100px;
            right: 100px;
        }
        #items p{
            margin-bottom: 30px;
        }
        .count{
            text-align: center;
            position: relative;
            left: 220px;
            bottom: 60px;
        }
        .value{
            position: relative;
            left: 180px;
        }
        #complate_btn{
            text-align: center;
            position: relative;
            top: 80px;
        }
        button{
            position: relative;
            left: 633px;
            top: 140px;

        }
/*申請者情報入力画面*/
         #school_num{
             position: relative;
             left: 550px;
         }
         #school_num p{
            position: relative;
            top: 40px;
            right: 100px;
        }

         #app_name{
             position: relative;
             top: 15px;
             left: 550px;
         }

         #app_name p{
            position: relative;
            top: 40px;
            right: 100px;
        }

        #input_plural{
            position: relative;
            left: 550px;
        }
        .count{
            position: relative;
            left: 810px;
            top: 25px;
            width: 20px;
        }

        #qr_btn{
            position: relative;
            top: 90px;
            left: 610px;
        }
        #send_btn{
            position: relative;
            top: 120px;
            left: 620px;
        }
        #app_form p{
            position: relative;
            top: 67px;
            left: 450px;
        }
/*ログイン画面*/
    #form{
        width: 700px;
        height: 450px;
        margin: 30px auto;
        padding: 20px;
        border: 1px solid #555;
        }

    form p{
        font-size: 20px;
        position: relative;
        left: 200px;
        top: 100px;
        }

    .form-title{
        text-align: center;
        position: relative;
        top: 20px;
        }

    .id,.pass{
        margin-bottom: 20px;
        }

    input[type="ID"],
    input[type="password"] {
        width: 300px;
        padding: 4px;
        font-size: 14px;
        }
    .submit{
        position: relative;
        top: 180px;
        left: 280px;
        width: 150px;
        height:50px;
        line-height: 70px;
        color: #FFF;
        text-decoration: none;
        text-align: center;
        background-color: #32cd32;
        border-radius: 5px;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
    }
    .submit:hover{
         background-color: #7fff00;
    }
/*QA管理画面*/
    .panel ul{
		text-align: left;
		color: #000;
	}
	.panel li{
		display: inline-block;
        vertical-align: middle;
		color: #000;
        position: relative;
        right: 52px;
        bottom: 122px;
        margin: 50px;
	}
	.panel a{
		font-weight: bold;
		position: relative;
		top: 20px;
		left: 110px;
        color:#000;
		text-decoration: none;
	}
	.panel a::after{
      position: absolute;
	  bottom: -4px;
	  left: 0;
	  content: '';
	  width: 100%;
	  height: 2px;
	  background: #008000;
	  transform: scale(0, 1);
	  transform-origin: left top;
	  transition: transform .3s;
	}
	.panel a:hover::after{
		transform: scale(1, 1);
	}
    table{
        position: relative;
        top: 70px;
          }
    table th{
        position: relative;
        left: 80px;
          }
/*メッセージ・画像設定画面*/

            #message{
                position: relative;
                top: 150px;
                left: 150px;
            }
           #img{
                position: relative;
                bottom: 110px;
                left: 800px;
            }
        #save_btn{
            position: relative;
            top: 60px;
            left: 300px;
        }
        #send_btn{
            position: relative;
            top: 60px;
            left: 900px;
        }
/*メッセージ・画像一覧画面*/
.hide {
    display: none;
}

/*QRコード表示画面*/

        #app_form{
            text-align: center;
            position: relative;
            bottom: 100px;
            left: 100px;

        }
        #price{
            text-align: center;
            position: relative;
            bottom: 50px;
            left: 100px;
        }
        #printing{
            position: relative;
            top: 30px;
            left: 870px;
        }
        #qrcode{
            width: 250px;
            height: 250px;
            background: #555555;
            opacity: 0.3;
            position: relative;
            top: 150px;
            left: 210px;
        }
        #systems{
            position: relative;
            bottom: 230px;
        }
          textarea{
        width: 400px;
        height: 170px;
    }
     #canvas{
        position: relative;
        top: 40px;
        right: 10px;
        width: 300px;
        height: 300px;
    }