{% extends 'base.html' %}
{% block title %}
    精算項目管理
{% endblock %}
{% block header %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css"
          integrity="sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
{% endblock %}

{% block main-title %}
    精算項目管理
{% endblock %}

{% block main-content %}
    <div id="systems">

        <div class="container">
            <div class="row">
                <div class="col-xs-12" style="width: 100%;">
                    <div class="table-responsive">
                        <table id='tbl' border="1" class="table table-bordered table-hover" style="table-layout: auto">
                            <thead align="center">
                            <tr id="object">
                                <th>No.</th>
                                <th>申請書名</th>
                                <th>金額</th>
                                <th>日数</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for form in forms %}
                                <form id="frm" name="frm" method="POST" action="./qr">
                                    {% csrf_token %}
                                    <tr>
                                        <input type="hidden" id="form_id{{ forloop.counter }}"
                                               name="form_id" value={{ form.form_id }}>
                                        <td text-align="right">{{ forloop.counter }}</td>
                                        <td style=""><input class="inpval" type="text"
                                                            id="form_name{{ forloop.counter }}"
                                                            name="form_name" value={{ form.form_name }} size="25"
                                                            style="border:none" readonly>
                                        </td>
                                        <td style=""><input class="inpval" type="text" id="fee{{ forloop.counter }}"
                                                            name="fee" value={{ form.fee }} size="25"
                                                            style="border:none" readonly></td>
                                        <td style=""><input class="inpval" type="text"
                                                            id="issuance_days{{ forloop.counter }}"
                                                            name="issuance_days"
                                                            value={{ form.issuance_days }} size="25"
                                                            style="border:none" readonly></td>
                                        <td style="width:40px;"><input class="edtbtn" type="button"
                                                                       id="edtBtn{{ forloop.counter }}"
                                                                       value="編集"
                                                                       onclick="edit_form(this,{{ forloop.counter }})">
                                        </td>
                                        <td style="width:40px;"><input class="delbtn" type="button"
                                                                       id="delBtn{{ forloop.counter }}"
                                                                       value="削除"
                                                                       onclick="delete_form(this,{{ form.form_id }})">
                                        </td>
                                        <td style="width:40px;"><input class="qrbtn" type="button" id="qrBtn1" onclick="submit()"
                                                                       value="QR表示"></td>
                                    </tr>
                                </form>
                            {% endfor %}
                            </tbody>
                        <tfoot>
{#                        <td colspan="7" align="center"><input type="button" id="add" name="add" value="追加" onclick="insert_row()"></td>#}
                        <td colspan="7" align="center" onclick="insert_row()">追　加　す　る</td>
                        </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>


        function insert_row() {
            var objTBL = document.getElementById("tbl");
            if (!objTBL)
                return;

            var count = objTBL.rows.length-1;

            // 最終行に新しい行追加
            var row = objTBL.insertRow(count);

            // 列追加
            var c1 = row.insertCell(0);
            var c2 = row.insertCell(1);
            var c3 = row.insertCell(2);
            var c4 = row.insertCell(3);
            var c5 = row.insertCell(4);
            var c6 = row.insertCell(5);
            var c7 = row.insertCell(6);

            // 各列にスタイル設定
            c1.style.cssText = "text-align:right; width:40px;";
            c2.style.cssText = "";
            c3.style.cssText = "";
            c4.style.cssText = "";
            c5.style.cssText = "width:40px;";
            c6.style.cssText = "width:40px;";
            c7.style.cssText = "width:40px;";


            // 各列に表示内容を設定
            c1.innerHTML = '<span class="seqno">' + count + '</span>';
            c2.innerHTML = '<input class="input-value" type="text"   id="form_name' + count + '" name="form_name" value="" size="30" ">';
            c3.innerHTML = '<input class="input-number" type="text"   id="fee' + count + '" name="fee" value="" size="30" ">';
            c4.innerHTML = '<input class="input-number" type="text"   id="issuance_days' + count + '" name="issuance_days" value="" size="30" ">';
            c5.innerHTML = '<input class="edtbtn" type="button" id="edtBtn' + count + '" value="編集" onclick="edit_form(this)">';
            c6.innerHTML = '<input class="delbtn" type="button" id="delBtn' + count + '" value="削除" onclick="delete_form(this)">';
            c7.innerHTML = '<input class="qrbtn" type="button" id="qrBtn' + count + '" value="QR表示" onclick="QROutput(this)">';

            // 追加した行の入力フィールドにフォーカスを設定
            let objInp = document.getElementById("form_name" + count);
            if (objInp)
                objInp.focus();
        }

        /*
         * delete_form: 削除ボタン該当行を削除
         */
        function delete_form(obj, form_id) {
            // 確認
            if (!confirm("この行を削除しますか？"))
                return;

            if (!obj)
                return;

            let objTR = obj.parentNode.parentNode;
            let objTBL = objTR.parentNode;

            if (objTBL)
                objTBL.deleteRow(objTR.sectionRowIndex);

            // <span> 行番号ふり直し
            let tagElements = document.getElementsByTagName("span");
            if (!tagElements)
                return false;

            let seq = 1;
            for (var i = 0; i < tagElements.length; i++) {
                if (tagElements[i].className.match("seqno"))
                    tagElements[i].innerHTML = seq++;
            }

            // id/name ふり直し
            tagElements = document.getElementsByTagName("input");
            if (!tagElements)
                return false;
            seq = 1;
            for (let i = 0; i < tagElements.length; i++) {
                if (tagElements[i].className.match("input-value") || tagElements[i].className.match("input-number")) {
                    tagElements[i].setAttribute("id", "txt" + seq);
                    tagElements[i].setAttribute("name", "txt" + seq);
                    ++seq;
                }
            }
            seq = 1;
            for (let i = 0; i < tagElements.length; i++) {
                if (tagElements[i].className.match("edtbtn")) {
                    tagElements[i].setAttribute("id", "edtBtn" + seq);
                    ++seq;
                }
            }

            // <input type="button" id="delBtnN">
            seq = 1;
            for (let i = 0; i < tagElements.length; i++) {
                if (tagElements[i].className.match("delbtn")) {
                    tagElements[i].setAttribute("id", "delBtn" + seq);
                    ++seq;
                }
            }
            //form削除処理
            let request = new XMLHttpRequest();
            let url = location.href + "/delete?form_id=" + form_id;
            request.open('GET', url, true);
            request.send();
        }

        /*
         *編集ボタン該当行の内容を入力・編集、モード切り替え
         */
        function edit_form(obj, rowId) {
            {#let objTR = obj.parentNode.parentNode;#}
            {#let rowId = objTR.sectionRowIndex;#}
            let form_id = document.getElementById("form_id" + rowId);
            let form_name = document.getElementById("form_name" + rowId);
            let fee = document.getElementById("fee" + rowId);
            let issuance_days = document.getElementById("issuance_days" + rowId);
            let objBtn = document.getElementById("edtBtn" + rowId);

            //
            if (!form_name || !objBtn)
                return;

            // モード切り替えはボタンの値で判定
            if (objBtn.value == "編集") {
                form_name.style.cssText = "border:1px solid #888;";
                fee.style.cssText = "border:1px solid #888;";
                issuance_days.style.cssText = "border:1px solid #888;";
                form_name.readOnly = false;
                fee.readOnly = false;
                issuance_days.readOnly = false;
                form_name.focus();
                objBtn.value = "確定";
            } else {
                form_name.style.cssText = "border:none;";
                fee.style.cssText = "border:none;";
                issuance_days.style.cssText = "border:none;";
                form_name.readOnly = true;
                fee.readOnly = true;
                issuance_days.readOnly = true;
                let request = new XMLHttpRequest();
                let url = location.href + "/save?form_id=" + form_id.value + "&form_name=" + form_name.value + "&fee=" + fee.value + "&issuance_days=" + issuance_days.value;
                request.open('GET', url, true);
                request.send();
                objBtn.value = "編集";
            }
        }
    </script>
{% endblock %}