{% extends 'base.html' %}
{% block title %}メッセージ画像一覧{% endblock %}
{% block header %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css"
          integrity="sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'armageddon_system/css/linebot/msg/list.css' %}">
{% endblock %}
{% block main-title %}
    LINEBOT メッセージ・画像管理
{% endblock %}
{% block main-content %}

    <div id="systems">
        <input type="button" id="add" name="add" onclick="location.href='/linebot/msg/edit'" value="追加">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">

                        <table border="1" id="tbl" class="table table-bordered table-hover">
                            <tr>
                                <th style="text-align:right; width:40px;">No.</th>
                                <th style="">日付</th>
                                <th style="">メッセージ</th>
                                <th style="">画像</th>
                                <th style="width:40px;"></th>
                                <th style="width:40px;"></th>
                            </tr>
                            {% for message_item in message %}
                                <form id="frm" name="frm" method="POST" action="/linebot/msg/edit">
                                    {% csrf_token %}
                                    <tr>
                                        <input type="hidden" name="message_id" value={{ message_item.message_id }}>
                                        <td style="text-align:right; width:40px;">{{ message_item.message_id }}<span
                                                class="seqno"></span>
                                        </td>
                                        <td style=""><input class="inpval" type="text" id="txt1" name="time_stamp"
                                                            value="{{ message_item.timestamp }}" size="30"
                                                            style="border:none"></td>
                                        <td style=""><input class="inpval" type="text" id="txt1" name="message"
                                                            value="{{ message_item.message_content }}" size="30"
                                                            style="border:none">
                                        </td>
                                        <td style=""><input class="inpval" type="text" id="txt1" name="image"
                                                            value="{{ message_item.image_path }}" size="30"
                                                            style="border:none"></td>
                                        <td style="width:40px;"><input class="edtbtn" type="submit" id="edtBtn1"
                                                                       value="編集"></td>
                                        <td style="width:40px;"><input class="delbtn" type="button" id="delBtn1"
                                                                       value="削除"
                                                                       onclick="delete_form(this)"></td>
                                    </tr>
                                </form>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>
    <script>

        /*
         * delete_form: 削除ボタン該当行を削除
         */
        function delete_form(obj) {
            // 確認
            if (!confirm("この行を削除しますか？"))
                return;

            if (!obj)
                return;

            var objTR = obj.parentNode.parentNode;
            var objTBL = objTR.parentNode;

            if (objTBL)
                objTBL.delete_form(objTR.sectionRowIndex);

            // <span> 行番号ふり直し
            var tagElements = document.getElementsByTagName("span");
            if (!tagElements)
                return false;

            var seq = 1;
            for (var i = 0; i < tagElements.length; i++) {
                if (tagElements[i].className.match("seqno"))
                    tagElements[i].innerHTML = seq++;
            }

            // id/name ふり直し
            var tagElements = document.getElementsByTagName("input");
            if (!tagElements)
                return false;
            var seq = 1;
            for (var i = 0; i < tagElements.length; i++) {
                if (tagElements[i].className.match("inpval")) {
                    tagElements[i].setAttribute("id", "txt" + seq);
                    tagElements[i].setAttribute("name", "txt" + seq);
                    ++seq;
                }
            }
            seq = 1;
            for (var i = 0; i < tagElements.length; i++) {
                if (tagElements[i].className.match("edtbtn")) {
                    tagElements[i].setAttribute("id", "edtBtn" + seq);
                    ++seq;
                }
            }

            // <input type="button" id="delBtnN">
            seq = 1;
            for (var i = 0; i < tagElements.length; i++) {
                if (tagElements[i].className.match("delbtn")) {
                    tagElements[i].setAttribute("id", "delBtn" + seq);
                    ++seq;
                }
            }
        }
    </script>
{% endblock %}