{% extends 'base.html' %}
{% block title %}ログイン{% endblock %}
{% block header %}
{% endblock %}
{% block main-title %}学生課 小口精算システム{% endblock %}
{% block main-content %}

    <div class="login">
        {% if error %}
            {#<div style="text-align: center">{{ error }}</div>#}
            <div class="error">{{ error }}</div>
        {% endif %}
        <div class="login-triangle"></div>

        <h2 class="login-header">ログイン</h2>

        <form class="login-container" action="/user/login" method="post">
            {% csrf_token %}

            <p><input type="text" placeholder="ログインID" name="user_id"></p>
            <p><input type="password" placeholder="パスワード" name="user_pass"></p>
            <p><input type="submit" value="ログイン"></p>
        </form>
    </div>
{% endblock %}