{% extends 'base.html' %}
{% block title %}Linebot QA管理{% endblock %}
{% block header %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css"
          integrity="sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
{% endblock %}
{% block main-title %}
    LINEBOT QA一覧
{% endblock %}
{% block main-content %}
    <div id="systems">
        <form id="frm" name="frm" method="GET" action="">
            <div class="container" style="margin-left: 0; margin-right: 0;">
                <div class="row">
                    <div class="col-xs-12" style="width: 100%;">
                        <div class="table-responsive">
                            <table border="1" id="tbl" class="table table-bordered table-hover">
                            <tr>
                                <th style="text-align:right; width:40px;">No.</th>
                                <th style="">質問ワード</th>
                                <th style="">応答</th>
                                <th style="width:40px;"></th>
                                <th style="width:40px;"></th>
                            </tr>
                            {% for i in qa_list %}
                                <tr>
                                    <td style="text-align:right; width:40px;"><span class="seqno">1</span></td>
                                    <td style="">
                                        <input class="inpval" type="text" id="txt1" name="txt1"
                                               value="
{% for question_item in i.question %}{{ question_item }}{% if forloop.last %}{% else %},{% endif %}{% endfor %}"
                                               size="30" readonly
                                               style="border:none">
                                    </td>
                                    <td style=""><input class="inpval" type="text" id="txt1" name="txt1"
                                                        value="{{ i.answer }}"
                                                        size="30" readonly
                                                        style="border:none"></td>
                                    <td style="width:40px;"><input class="edtbtn" type="button" id="edtBtn1"
                                                                   value="編集"
                                                                   onclick="editRow(this)"></td>
                                    <td style="width:40px;"><input class="delbtn" type="button" id="delBtn1"
                                                                   value="削除"
                                                                   onclick="deleteRow(this)"></td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><input type="button" id="add" name="add" value="追加" onclick="appendRow()"></td>
                            </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script>
        function appendRow() {
            var objTBL = document.getElementById("tbl");
            if (!objTBL)
                return;

            var count = objTBL.rows.length - 1;

            // 最終行に新しい行追加
            var row = objTBL.insertRow(count);

            // 列追加
            var c1 = row.insertCell(0);
            var c2 = row.insertCell(1);
            var c3 = row.insertCell(2);
            var c4 = row.insertCell(3);
            var c5 = row.insertCell(4);

            // 各列にスタイル設定
            c1.style.cssText = "text-align:right; width:40px;";
            c2.style.cssText = "width:200px;";
            c3.style.cssText = "width:200px;";
            c4.style.cssText = "width:40px;";
            c5.style.cssText = "width:40px;";

            // 各列に表示内容を設定
            c1.innerHTML = '<span class="seqno">' + count + '</span>';
            c2.innerHTML = '<input class="inpval" type="text"   id="txt1' + count + '" name="txt' + count + '" value="" size="30" style="border:1px solid #888;">';
            c3.innerHTML = '<input class="inpval" type="text"   id="txt2' + count + '" name="txt' + count + '" value="" size="30" style="border:1px solid #888;">';
            c4.innerHTML = '<input class="edtbtn" type="button" id="edtBtn' + count + '" value="確定" onclick="editRow(this)">';
            c5.innerHTML = '<input class="delbtn" type="button" id="delBtn' + count + '" value="削除" onclick="deleteRow(this)">';

            // 追加した行の入力フィールドにフォーカスを設定
            var objInp = document.getElementById("txt1" + count);
            if (objInp)
                objInp.focus();
        }

        /*
         * deleteRow: 削除ボタン該当行を削除
         */
        function deleteRow(obj) {
            // 確認
            if (!confirm("この行を削除しますか？"))
                return;

            if (!obj)
                return;

            var objTR = obj.parentNode.parentNode;
            var objTBL = objTR.parentNode;

            if (objTBL)
                objTBL.deleteRow(objTR.sectionRowIndex);

            // <span> 行番号ふり直し
            var tagElements = document.getElementsByTagName("span");
            if (!tagElements)
                return false;

            var seq = 1;
            for (var i = 0; i < tagElements.length; i++) {
                if (tagElements[i].className.match("seqno"))
                    tagElements[i].innerHTML = seq++;
            }

            // id/name ふり直し
            var tagElements = document.getElementsByTagName("input");
            if (!tagElements)
                return false;
            var seq = 1;
            for (var i = 0; i < tagElements.length; i++) {
                if (tagElements[i].className.match("inpval")) {
                    tagElements[i].setAttribute("id", "txt" + seq);
                    tagElements[i].setAttribute("name", "txt" + seq);
                    ++seq;
                }
            }
            seq = 1;
            for (var i = 0; i < tagElements.length; i++) {
                if (tagElements[i].className.match("edtbtn")) {
                    tagElements[i].setAttribute("id", "edtBtn" + seq);
                    ++seq;
                }
            }

            // <input type="button" id="delBtnN">
            seq = 1;
            for (var i = 0; i < tagElements.length; i++) {
                if (tagElements[i].className.match("delbtn")) {
                    tagElements[i].setAttribute("id", "delBtn" + seq);
                    ++seq;
                }
            }
        }

        /*
         *編集ボタン該当行の内容を入力・編集、モード切り替え
         */
        function editRow(obj) {
            var objTR = obj.parentNode.parentNode;
            var rowId = objTR.sectionRowIndex;
            var objInp = document.getElementById("txt" + rowId);
            var objBtn = document.getElementById("edtBtn" + rowId);

            if (!objInp || !objBtn)
                return;

            // モード切り替えはボタンの値で判定
            if (objBtn.value == "編集") {
                objInp.style.cssText = "border:1px solid #888;"
                objInp.readOnly = false;
                objInp.focus();
                objBtn.value = "確定";
            } else {
                objInp.style.cssText = "border:none;"
                objInp.readOnly = true;
                objBtn.value = "編集";
            }
        }
    </script>
{% endblock %}