{% extends 'base.html' %}
{% block title %}LINEPAY 確認画面{% endblock %}
{% block header %}
    <script
            src="https://code.jquery.com/jquery-3.4.1.slim.js"
            integrity="sha256-BTlTdQO9/fascB1drekrDVkaKd9PkwBymMlHOiG+qLI="
            crossorigin="anonymous"></script>
{% endblock %}
{% block menubar %}{% endblock %}
{% block main-title %}決済情報{% endblock %}
{% block main-content %}
    <form id="confirm_form" method="post" action="/register/linepay">
        {% csrf_token %}
        申請情報を確認してください
        <hr>
        <div id="items">
            <p>学籍番号:<input hidden type="text" name="student_id" value="{{ student_id }}">{{ student_id }}</p>
            <input hidden name='is_multiple' value="{{ is_multiple }}">
            <input hidden name="countFormTypes" value="{{ countFormTypes }}">
            <p>
            <table>
                {% for i in form_list %}
                    <input hidden=id='form_id{{ forloop.counter0 }}' name='form_id{{ forloop.counter0 }}'
                           value="{{ i.id }}">
                    <tr>
                        <td><input hidden type="text" name="form_name{{ forloop.counter0 }}"
                                   value="{{ i.name }}">{{ i.name }}:
                        </td>
                        <td><input hidden type="text" name="form_count{{ forloop.counter0 }}"
                                   value={{ i.count }}>{{ i.count }}枚
                        </td>
                        <td><input hidden type="text" name="fee{{ forloop.counter0 }}"
                                   value={{ i.subtotal }}>{{ i.subtotal }}円
                        </td>
                    </tr>
                {% endfor %}
            </table>
            </p>
            <hr>
            <p>合計:<input hidden type="text" name="total" value="{{ total }}">{{ total }}円</p>
        </div>
        <input type="submit" value="LINEPay決済">
    </form>
    <button id="cancel_btn" onclick="history.back()">キャンセル</button>
{% endblock %}