<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>最終確認画面</title>
    <link rel="stylesheet" type="text/css" href="css/systems.css">

</head>
<body>
<p id="comment">以下の情報でLINEPay決済します</p>
<div id="items">
申請者名:<p class="name"></p>
学籍番号:<p class="school_num"></p>
申請書名:<p class="app_form"></p>
    <p class="value">1</p><p class="count">枚</p>
</div>

<form id="complate_btn">
    <input type="submit" value="LINEPay決済">
</form>
<button id="cancel_btn" onclick="history.back()">キャンセル</button>
</body>
</html>