{% extends 'base.html' %}
{% block title %}申請者情報入力{% endblock %}
{% block header %}
    <script src="https://cdn.jsdelivr.net/npm/jsqr@1.1.1/dist/jsQR.min.js"
            integrity="sha384-i4Tuh5Z0ns/3M0289mSougur8irvedWPBlwOcJ7ob5AK/rvN5tjkwzu7P1k1dThG"
            crossorigin="anonymous"></script>
    {#    jQueryの読み込み#}
    {#    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>#}
    <script
            src="https://code.jquery.com/jquery-3.4.1.slim.js"
            integrity="sha256-BTlTdQO9/fascB1drekrDVkaKd9PkwBymMlHOiG+qLI="
            crossorigin="anonymous"></script>


{% endblock %}
{% block menubar %}{% endblock %}
{% block main-title %}証明書発行申請{% endblock %}
{% block main-content %}
    <form name="requestForm">
        <p>学籍番号
            <input type="text" id="student-id" name="studentId" placeholder="1234567">
        </p>

        <p>
            学籍番号がない場合<input type="checkbox" id="has-not-student-id" name="check" value="true"
                            onchange=changeHasStudentId()><br>
            申請者名
            <input type="text" id="user-name" name="userName" disabled placeholder="学籍番号がない場合入力">
        </p>

        QRコードを読み取ってください
        <input hidden name="count_form_type" value="0">
        <input type='button' id="qr_btn" value="追加">
        <input id="send_btn" type="button" value="決定" onclick="send_data();">
        <br>
        <div id="form_list">
        </div>
        <section id="contents">
            <!-- カメラ -->
            <video id="camera" width="300" height="200" muted></video>

            <!-- 処理用 -->
            <canvas id="picture" width="300" height="200"></canvas>
        </section>

    </form>
    <script>

        const video = $("#camera")[0];
        const canvas = $("#picture")[0];
        const ctx = canvas.getContext("2d");

        window.onload = () => {
            //カメラ設定
            const constraints = {
                audio: false,
                video: {
                    width: 300,
                    height: 200,
                    facingMode: "environment"   // フロントカメラを利用する
                }
            };

            //カメラを<video>と同期
            navigator.mediaDevices.getUserMedia(constraints)
                .then((stream) => {
                    video.srcObject = stream;
                    video.onloadedmetadata = (e) => {
                        video.play();
                        // QRコードのチェック開始
                        checkPicture();
                    };
                })
                .catch((err) => {
                    console.log(err.name + ": " + err.message);
                });
        };

        //QRコードの読み取り
        function checkPicture() {
            // カメラの映像をCanvasに複写
            console.log(ctx);
            ctx.drawImage(video, 0, 0, canvas.width, canvas.height);

            // QRコードの読み取り
            const imageData = ctx.getImageData(0, 0, canvas.width, canvas.height);
            const code = jsQR(imageData.data, canvas.width, canvas.height);

            // 存在する場合
            if (code) {
                // 結果を表示
                setQRResult("#form", code.data);  // 文字列
                drawLine(ctx, code.location);       // 見つかった箇所に線を引く

                // video と canvas を入れ替え
                canvas.style.display = 'block';
                video.style.display = 'none';
                video.pause();
            }
            // 存在しない場合

            else {
                // 0.3秒後にもう一度チェック
                setTimeout(() => {
                    checkPicture();
                }, 300);
            }
        }


        //発見されたQRコードに線を引く
        function drawLine(ctx, pos, options = {color: "blue", size: 5}) {
            // 線のスタイル設定
            ctx.strokeStyle = options.color;
            ctx.lineWidth = options.size;

            // 線を描く
            ctx.beginPath();
            ctx.moveTo(pos.topLeftCorner.x, pos.topLeftCorner.y);         // 左上からスタート
            ctx.lineTo(pos.topRightCorner.x, pos.topRightCorner.y);       // 右上
            ctx.lineTo(pos.bottomRightCorner.x, pos.bottomRightCorner.y); // 右下
            ctx.lineTo(pos.bottomLeftCorner.x, pos.bottomLeftCorner.y);   // 左下
            ctx.lineTo(pos.topLeftCorner.x, pos.topLeftCorner.y);         // 左上に戻る
            ctx.stroke();
        }

        //QRコードの読み取り結果を表示する
        function setQRResult(id, data) {
            $(id).value = escapeHTML(data);
            console.log(id);
            console.log(escapeHTML(data));
            console.log(data);
        }


        //HTML表示用に文字列エスケープ
        function escapeHTML(str) {
            let result = "";
            result = str.replace("&", "&amp;");
            result = str.replace("'", "&#x27;");
            result = str.replace("`", "&#x60;");
            result = str.replace('"', "&quot;");
            result = str.replace("<", "&lt;");
            result = str.replace(">", "&gt;");
            result = str.replace(/\n/, "<br>");

            return (result);
        }

        function changeHasStudentId() {
            let form_elements = document.forms.requestForm;
            form_elements.userName.disabled = !form_elements.check.checked;
            form_elements.studentId.disabled = form_elements.check.checked;

        }

        function send_data() {
            let hasStudentId = !document.getElementById('has-not-student-id')
            let studentId = document.getElementById('student-id');
            let userName = document.getElementById('user-name');

            if (hasStudentId) {
                if (studentId === "") {
                    alert("test");
                } else {
                    alert('test2')
                }
            } else {
                //画面遷移&入力フォーム情報を移す&チェックボックス=trueの場合、学籍番号の値を"無し"にする
            }
        }

        {#証明書の追加#}
        let request_count = 0;
        $('#qr_btn').click(function () {
            let options;
            for (var i = 1; i < 10; i++) {
                options += `<option value=${i}>${i}</option>`
            }
            request_count++;
            let text = `証明書${request_count}` +
                '<input type="text" id="form" readonly placeholder="QRコード読み取り">' +
                '<select id="count" value="1">' +
                options +
                '</select><br>';
            $('#form_list').append(text)
        });

    </script>
{% endblock %}