body, p, form, input {
    margin: 0
}

body {
    font-size: 20px;
}

#form {
    width: 700px;
    height: 450px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #555;
}

form p {
    font-size: 20px;
    position: relative;
    left: 200px;
    top: 100px;
}

.form-title {
    text-align: center;
    position: relative;
    top: 20px;
}

.id, .pass {
    margin-bottom: 20px;
}

input[type="ID"],
input[type="password"] {
    width: 300px;
    padding: 4px;
    font-size: 14px;
}

.submit {
    position: relative;
    top: 180px;
    left: 280px;
    width: 150px;
    height: 60px;
    line-height: 70px;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    background-color: #32cd32;
    border-radius: 5px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.submit:hover {
    background-color: #7fff00;
}